<li
  class="card bg-base-200 shadow-xl hover:shadow-2xl transition-all duration-300"
>
  <div class="relative">
    <img
      class="w-full h-48 object-cover rounded-t-xl"
      [src]="exercicio()?.image"
      alt="exercicio-imagem"
    />
    @if (exercicio()?.completed) {
    <div
      class="absolute inset-0 bg-black/60 backdrop-blur-sm flex items-center justify-center rounded-t-xl"
    >
      <i-lucide
        [img]="check"
        size="80"
        class="text-primary animate-bounce"
      ></i-lucide>
    </div>
    }
  </div>

  <div class="card-body">
    <h3 class="card-title text-2xl text-primary">{{ exercicio()?.title }}</h3>
    <p class="text-base-content/70">{{ exercicio()?.description }}</p>

    <div class="card-actions justify-end mt-4">
      <div class="join">
        <input
          class="input join-item input-primary w-16 text-center font-bold text-lg disabled:text-primary disabled:bg-base-300"
          type="text"
          disabled
          [value]="numeroExecucoes"
        />
        <button
          class="btn btn-primary join-item text-lg"
          (click)="finalizaRepeticao()"
          [disabled]="exercicio()?.completed || estaDescansando()"
        >
          <span class="font-bold">+</span>
        </button>
      </div>
    </div>
  </div>
</li>
