<li
  class="border-2 border-primary rounded-lg p-10 flex gap-2 shadow-sm relative max-w-[500px]"
>
  <img
    class="w-40 h-40 object-cover rounded-md"
    [src]="exercicio()?.image"
    alt="flexao-gif"
  />
  <div class="flex flex-col gap-2">
    <h3 class="text-xl">{{ exercicio()?.title }}</h3>
    <legend class="text-sm">{{ exercicio()?.description }}</legend>
    <div class="join">
      <input
        class="input join-item input-primary disabled:text-white disabled:bg-zinc-800 w-12"
        type="text"
        disabled
        [value]="numeroExecucoes"
      />
      <button
        class="btn btn-primary join-item"
        (click)="finalizaRepeticao()"
        [disabled]="exercicio()?.completed || estaDescansando()"
      >
        +
      </button>
    </div>
  </div>
  @if (exercicio()?.completed) {

  <div
    class="absolute bg-black opacity-50 w-full top-0 left-0 h-full flex items-center justify-center"
  >
    <i-lucide [img]="check" size="120" class="text-emerald-300"></i-lucide>
  </div>
  }
</li>
