<div class="flex flex-col items-center w-full min-h-screen py-4 gap-4">
  <h2 class="text-2xl">Treino de Calistenia</h2>

  <div class="join">
    <label class="flex input join-item">
      <input
        class="input grow"
        type="number"
        [disabled]="estaDescansando()"
        [(ngModel)]="tempoDeDescanso"
      />
      <span class="badge">
        {{ estaDescansando() ? "Segundos restantes" : "Minutos" }}
      </span>
    </label>
    <button
      class="btn btn-primary join-item"
      (click)="iniciarDescanso()"
      [disabled]="estaDescansando()"
    >
      Descansar
    </button>
  </div>

  <ul class="grid grid-cols-2 gap-4">
    @for (exercicio of exercicios; track exercicio.id) {
    <app-card
      [title]="exercicio.title"
      [description]="exercicio.description"
      [numeroRepeticoes]="exercicio.numberOfExecutions"
      [image]="exercicio.image"
      (iniciaDescanso)="iniciarDescanso()"
      [estaDescansando]="estaDescansando()"
    />
    }
  </ul>
</div>
