<div
  class="min-h-screen bg-gradient-to-br from-base-300 to-base-100 py-8 relative"
>
  <div class="fixed top-0 p-4 z-10 bg-zinc-800 w-full min-h-40">
    <header class="text-center mb-8">
      <h1 class="text-4xl font-bold text-primary mb-2">Treino de Calistenia</h1>
      <div class="h-1 w-24 bg-primary mx-auto rounded-full"></div>
    </header>

    <div class="max-w-md mx-auto mb-8">
      <div class="join w-full shadow-lg">
        <label class="flex input input-lg join-item bg-base-200 border-primary">
          <input
            class="input grow bg-transparent focus:outline-none text-lg"
            type="number"
            [disabled]="estaDescansando()"
            [(ngModel)]="tempoDeDescanso"
          />
          <span class="badge badge-primary badge-lg">
            {{ estaDescansando() ? "Segundos restantes" : "Minutos" }}
          </span>
        </label>
        <button
          class="btn btn-primary btn-lg join-item capitalize"
          (click)="iniciarDescanso()"
          [disabled]="estaDescansando()"
        >
          Descansar
        </button>
      </div>
    </div>
  </div>
  <div class="container mx-auto my-40 px-4">
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-6 px-4">
      @for (exercicio of exercicios; track exercicio.id) {
      <app-card
        (iniciaDescanso)="iniciarDescanso()"
        [estaDescansando]="estaDescansando()"
        [exercicio]="exercicio"
      />
      }
    </ul>
  </div>
</div>
